body{
	padding: 0px;
	margin: 0px;
  background-color: rgba(64,95,175,0.1);
}
#video-container {
	position: absolute;
	width: 100%;

}



#controls {
	visibility: visible;
  opacity: 1;

}

#controls-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,0.6) 0%, rgba(0,0,0,0.3) 22%, rgba(0,0,0,0) 100%);
}

#clickable-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#left-btn-container {
  position: absolute;
  left: 5%;
  bottom: 5%;
  background-color: rgba(64,95,175,0.8);
  padding: 20px;
  border-radius: 15px;
  margin-bottom:20px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

#right-btn-container {
  position: absolute;
  bottom: 5%;
  right: 5%;

}

#status-bar {
  position:absolute;
  bottom: 5%;
  width: 100%;
  color: white;
  font-family: 'Arial';
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
text-shadow: 2px 2px 8px #000;
}

#play-btn{
  width: 100px;
  height: 100px;
}

#home-btn{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-image: url('home_btn.png'); 
  background-size: cover;
}

#pause-btn{
  width: 100px;
  height: 100px;
  background-image: url("home_btn.png");
  background-size: cover;
}

.button {

  font-family: 'Arial';
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgba(64,95,175,0.9);
  border: none;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  float:right;
  width: 300px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.button:active {
  background-color: rgba(64,95,175,1);

}
