body{
	padding: 0px;
	margin: 0px;
  background-color: rgba(64,95,175,0.1);
}
#video-container {
	position: absolute;
	width: 100%;

}



#controls {
	visibility: visible;
  opacity: 1;
}

#left-btn-container {
  position: absolute;
  left: 5%;
  bottom: 5%;
  background-color: rgba(64,95,175,0.5);
  padding: 20px;
  border-radius: 15px;
}

#right-btn-container {
  position: absolute;
  bottom: 5%;
  right: 5%;

}

#play-btn{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-image: url("images/player/play_btn.png");
  background-size: cover;
}
#pause-btn{
  width: 100px;
  height: 100px;
  background-image: url("images/player/pause_btn.png");
  background-size: cover;
}

.button {

  font-family: 'Arial';
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgba(64,95,175,0.5);
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  float:right;
}

.button:active {
  background-color: rgba(64,95,175,1);

}
